body{
    background-color: aquamarine;
}


.myc_conteiner{
    background-color: lightgoldenrodyellow;
    display: flex;
    width: calc(100%/2);
    height: auto;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}